---
layout: layout/base.njk
title: About
permalink: '/design-system/{{ title | slug }}/'
eleventyComputed:
    eleventyNavigation:
        key: '{{ title }}'
        parent: Design system
        order: -100
---

<section class="systems-home">
    <h1>Design guidelines</h1>
    <img src="images/home/design-system.svg" />
    <p>Some awesome text about ZUI</p>
</section>