.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    align-items: center;
}
