---
layout: layout/template-component-single.njk
applicationFrameworkComponent: true
pagination:
    data: componentRegistry.components.applicationFramework
    size: 1
    alias: component
permalink: "application-framework/components/{{ component.commonName | slug }}/api/"
eleventyExcludeFromCollections: true
---

<customelement-manifest-element src="{{ componentRegistry.baseUrlCdn }}/{{ component.componentPackage }}@next/dist/custom-elements.json" initialElementName="{{ component.name }}" elementNames='{{ component.apiElementGroup }}'></customelement-manifest-element>