<link rel="stylesheet" href="/css/pages/blog-posts.css">
<ul class="blog-posts">
{%- for post in collections.blogPosts -%}
  <li class="card"><a href="{{ post.url }}">
      <h2>{{ post.data.title }}</h2>
      <div class="details">
        <div class="description">{{ post.data.description }}</div>
        <div class="date-tags">
          <time datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
          <div class="tags">
            {%- for tag in post.data.tags -%}
              <zui-tag color="gray" class="tag">{{ tag }}</zui-tag color="gray">
            {%- endfor -%}
        </div>
      </div>
  </a></li>
{%- endfor -%}
</ul>