<header class="top-nav">
    <div class="top-nav-content">
        <a href="/" class="logo"><img src="/images/home/zywave-logo.svg" /></a>
        <nav>
            <ul>
                <li><a href="{{ '/introduction/index/' | url }}">Introduction</a></li>
                <li><a href="{{ '/design-system/about/' | url }}">Design system</a></li>
                <li><a href="{{ '/application-framework/about/' | url }}">Application framework</a></li>
                <li><a href="{{ '/blog/' | url }}">Blog</a></li>
                <li><a target="_blank" href="https://thenewz.zywave.com/wp-content/uploads/2020/08/Zywave-Brand-Guide.pdf">Branding</a></li>
            </ul>
        </nav>
        <div class="search-login-container">
            <div id="search-top-nav"></div>
        </div>
    </div>
</header>


<script type="module">
    const element = document.getElementById("search-top-nav");
    const config = { childList: true, subtree: true };
    const observer = new MutationObserver(whenAlgoliaInsertedAddEventListener);

    function whenAlgoliaInsertedAddEventListener(mutationList, observer) {
        for (const mutation of mutationList) {
            const firstElement = mutation.addedNodes[0];
            if (firstElement.classList.value === 'aa-Autocomplete') {
                firstElement.addEventListener('click', function() {
                    firstElement.classList.add('is-open');
                });
            }
        }
    }

    observer.observe(element, config);
</script>