---
permalink: '/application-framework/{{ title | slug }}/'
title: Installation
eleventyComputed:
    eleventyNavigation:
        key: '{{ title }}'
        parent: Application framework
        order: -96
---

<section>
    Installation page
</section>