---
layout: layout/base.njk
title: About
permalink: '/application-framework/{{ title | slug }}/'
eleventyComputed:
    eleventyNavigation:
        key: '{{ title }}'
        parent: Application framework
        order: -99
---

<section class="systems-home">
    <h1>Application framework guidelines</h1>
    <img src="images/home/application-framework.svg" />
    <p>Some awesome text about ZAPI</p>
</section>