---
title: All components
permalink: '/design-system/components/{{ title | slug }}/'
eleventyComputed:
    eleventyNavigation:
        key: '{{ title }}'
        parent: Components
        order: 1
---

<p>Design system components statuses are updated whenever we add, make significant updates, or deprecate so it's clear what's available to use. If you encounter an issue with any of our components, we encourage you to check out the issues links.</p>

<table class="component-status-table">
    <thead>
        <tr>
            <th>Component</th>
            <th>Status</th>
            <th>Issues</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="design-system/components/shell/">Action bar</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Ashell" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/breadcrumbs/">Breadcrumbs</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Abreadcrumbs" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/buttons/">Buttons</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Abutton" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/button-dropdowns/">Button dropdowns</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Abutton-dropdown" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/button-groups/">Button groups</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Abutton-group" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/card/">Card</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Acard" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/checkboxes/">Checkboxes</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Acheckbox" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/shell/">Context switcher</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Acontext-switcher" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/dialogs/">Dialogs</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Adialog" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/dropdown-multi-select/">Dropdown multi-select</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aselect" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/dropdown-select/">Dropdown select</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aselect" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/error-pages/">Error pages</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aerror-page" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/expanders/">Expanders</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aexpander" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/file-input/">File input</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Afile-input" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/formfield/">Form field</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aformfield" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/icons/">Icons</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aicons" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/logo/">Logo</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Alogo" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/multipicker/">Multipicker</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Component is in the planning process and will be added to the roadmap.</div>
                    <div slot="trigger" class="pill-backlog">backlog</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Amultipicker" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/notifiers/">Notifiers</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Anotifier" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/pager/">Pager</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Component is in the planning process and will be added to the roadmap.</div>
                    <div slot="trigger" class="pill-backlog">backlog</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Apager" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td>Pages</td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Deprecated page or component that we no longer recommend and plan to remove completely.</div>
                    <div slot="trigger" class="pill-deprecated">deprecated</div>
                </zui-tooltip>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><a href="design-system/components/picker/">Picker</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Component is in the planning process and will be added to the roadmap.</div>
                    <div slot="trigger" class="pill-backlog">backlog</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Apicker" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/popovers/usage/">Popovers</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Component is currently being developed and documented.</div>
                    <div slot="trigger" class="pill-progress">in progess</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Apopover" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/progress-bar/">Progress bar</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Component is still being tested and considered unstable. Use at your own risk!</div>
                    <div slot="trigger" class="pill-beta">beta</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aprogress" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/radio-buttons/">Radio buttons</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aradio" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/search/">Search</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Asearch" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/shell/">Shell</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Ashell" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/slider/">Slider</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Component is still being tested and considered unstable. Use at your own risk!</div>
                    <div slot="trigger" class="pill-beta">beta</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aslider" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/spinner/">Spinner</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Aspinner" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td>Step flow</td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Deprecated page or component that we no longer recommend and plan to remove completely.</div>
                    <div slot="trigger" class="pill-deprecated">deprecated</div>
                </zui-tooltip>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><a href="design-system/components/svg-utils/">SVG utils</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Asvg" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td>Table</td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Component is in the planning process and will be added to the roadmap.</div>
                    <div slot="trigger" class="pill-backlog">backlog</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Atable" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/tabs/">Tabs</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Atabs" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/text-input/">Text input</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Ainput" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/toggles/">Toggles</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Atoggle" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/tooltips/">Tooltips</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Atooltip" target="_blank">view issues</a></td>
        </tr>
        <tr>
            <td><a href="design-system/components/wells/">Wells</a></td>
            <td>
                <zui-tooltip position="top">
                    <div slot="message" class="tooltip-message">Documentation is up-to-date &amp; component is ready for use.</div>
                    <div slot="trigger" class="pill-stable">stable</div>
                </zui-tooltip>
            </td>
            <td><a href="https://gitlab.zywave.com/devkit/zui/zui/-/issues?label_name%5B%5D=component%3A%3Awell" target="_blank">view issues</a></td>
        </tr>
    </tbody>

</table>