@use '../utils/_functions.scss' as *;

/* stylelint-disable */
:root {
    --zui-shell-primary-theme: var(--zui-green);
    --zui-shell-primary-theme-dark: var(--zui-green-600);
    --zui-tabs-color: var(--zui-green);
  }
  
  /* global styles, mostly for foundations/colors.md */
  /* Primary branding colors */
  .primary-branding-colors {
    display: flex;
    width: 100%;
    margin-bottom: rem(48);
    text-transform: uppercase;
  }
  
  .primary-branding-colors > div {
    display: flex;
    height: rem(240);
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  }
  
  .primary-zywave {
    flex: 1;
    background: var(--zui-zywave);
    color: #fff;
  }
  
  .primary-blue {
    flex: 2;
    margin: 0 rem(16);
    background: var(--zui-blue);
    color: #fff;
  }
  
  .primary-branding-colors .label {
    padding: rem(8);
  }
  
  .primary-branding-colors .levels {
    margin-top: auto;
  }
  
  .primary-branding-colors .hex {
    margin-top: auto;
    padding: rem(8);
    font-weight: 700;
    text-align: right;
  }
  
  .primary-branding-colors .levels .color-palette.blue {
    display: flex;
  }
  
  .primary-branding-colors .levels .color-palette.blue > div {
    flex: 1;
  }
  
  .primary-branding-colors .levels .color-palette.blue > div > .color {
    width: 100%;
    height: rem(80);
  }
  
  .primary-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .primary-background {
    flex: 1;
    background: var(--zui-gray-50);
  }
  
  .primary-surface {
    flex: 1;
    background: white;
  }
  
  .primary-text {
    flex: 1;
    background: var(--zui-gray-800);
    color: #fff;
  }
  
  /* Expanded color palette */

  .color-palette {
    td {
      border-left: 1px solid var(--zui-gray-100);
      text-transform: uppercase;
      padding: rem(8);

      &:first-child {
        width: 5ch;
        border-left: 0;
      }
      
      &.no-text-transform {
        text-transform: unset;
      }

      &.color {
        width: rem(100);
      }
    }
  }
  
  .level-500 {
    font-weight: 700;
  }
  
  .header {
    border-bottom: 1px solid var(--zui-gray-100);
    font-weight: 600;
  }
  
  .color-title .title {
    border-bottom: 3px solid var(--zui-gray-200);
    text-transform: uppercase;
  }
  
  .color-title .title h3 {
    margin-bottom: 0;
  }
  
  /* ZUI Blue */
  .color-palette.blue .level-50 .color {
    background: var(--zui-blue-50);
  }
  
  .color-palette.blue .level-100 .color {
    background: var(--zui-blue-100);
  }
  
  .color-palette.blue .level-200 .color {
    background: var(--zui-blue-200);
  }
  
  .color-palette.blue .level-300 .color {
    background: var(--zui-blue-300);
  }
  
  .color-palette.blue .level-400 .color {
    background: var(--zui-blue-400);
  }
  
  .color-palette.blue .level-500 .color {
    background: var(--zui-blue-500);
  }
  
  .color-palette.blue .level-600 .color {
    background: var(--zui-blue-600);
  }
  
  .color-palette.blue .level-700 .color {
    background: var(--zui-blue-700);
  }
  
  /* ZUI Green */
  .color-palette.green .level-100 .color {
    background: var(--zui-green-100);
  }
  
  .color-palette.green .level-200 .color {
    background: var(--zui-green-200);
  }
  
  .color-palette.green .level-300 .color {
    background: var(--zui-green-300);
  }
  
  .color-palette.green .level-400 .color {
    background: var(--zui-green-400);
  }
  
  .color-palette.green .level-500 .color {
    background: var(--zui-green-500);
  }
  
  .color-palette.green .level-600 .color {
    background: var(--zui-green-600);
  }
  
  .color-palette.green .level-700 .color {
    background: var(--zui-green-700);
  }
  
  /* ZUI Aqua */
  .color-palette.aqua .level-100 .color {
    background: var(--zui-aqua-100);
  }
  
  .color-palette.aqua .level-200 .color {
    background: var(--zui-aqua-200);
  }
  
  .color-palette.aqua .level-300 .color {
    background: var(--zui-aqua-300);
  }
  
  .color-palette.aqua .level-400 .color {
    background: var(--zui-aqua-400);
  }
  
  .color-palette.aqua .level-500 .color {
    background: var(--zui-aqua-500);
  }
  
  .color-palette.aqua .level-600 .color {
    background: var(--zui-aqua-600);
  }
  
  .color-palette.aqua .level-700 .color {
    background: var(--zui-aqua-700);
  }
  
  /* ZUI Purple */
  .color-palette.purple .level-100 .color {
    background: var(--zui-purple-100);
  }
  
  .color-palette.purple .level-200 .color {
    background: var(--zui-purple-200);
  }
  
  .color-palette.purple .level-300 .color {
    background: var(--zui-purple-300);
  }
  
  .color-palette.purple .level-400 .color {
    background: var(--zui-purple-400);
  }
  
  .color-palette.purple .level-500 .color {
    background: var(--zui-purple-500);
  }
  
  .color-palette.purple .level-600 .color {
    background: var(--zui-purple-600);
  }
  
  .color-palette.purple .level-700 .color {
    background: var(--zui-purple-700);
  }
  
  /* ZUI Rose */
  .color-palette.rose .level-100 .color {
    background: var(--zui-rose-100);
  }
  
  .color-palette.rose .level-200 .color {
    background: var(--zui-rose-200);
  }
  
  .color-palette.rose .level-300 .color {
    background: var(--zui-rose-300);
  }
  
  .color-palette.rose .level-400 .color {
    background: var(--zui-rose-400);
  }
  
  .color-palette.rose .level-500 .color {
    background: var(--zui-rose-500);
  }
  
  .color-palette.rose .level-600 .color {
    background: var(--zui-rose-600);
  }
  
  .color-palette.rose .level-700 .color {
    background: var(--zui-rose-700);
  }
  
  /* ZUI Red */
  .color-palette.red .level-100 .color {
    background: var(--zui-red-100);
  }
  
  .color-palette.red .level-200 .color {
    background: var(--zui-red-200);
  }
  
  .color-palette.red .level-300 .color {
    background: var(--zui-red-300);
  }
  
  .color-palette.red .level-400 .color {
    background: var(--zui-red-400);
  }
  
  .color-palette.red .level-500 .color {
    background: var(--zui-red-500);
  }
  
  .color-palette.red .level-600 .color {
    background: var(--zui-red-600);
  }
  
  .color-palette.red .level-700 .color {
    background: var(--zui-red-700);
  }
  
  /* ZUI Orange */
  .color-palette.orange .level-100 .color {
    background: var(--zui-orange-100);
  }
  
  .color-palette.orange .level-200 .color {
    background: var(--zui-orange-200);
  }
  
  .color-palette.orange .level-300 .color {
    background: var(--zui-orange-300);
  }
  
  .color-palette.orange .level-400 .color {
    background: var(--zui-orange-400);
  }
  
  .color-palette.orange .level-500 .color {
    background: var(--zui-orange-500);
  }
  
  .color-palette.orange .level-600 .color {
    background: var(--zui-orange-600);
  }
  
  .color-palette.orange .level-700 .color {
    background: var(--zui-orange-700);
  }
  
  /* ZUI Yellow */
  .color-palette.yellow .level-100 .color {
    background: var(--zui-yellow-100);
  }
  
  .color-palette.yellow .level-200 .color {
    background: var(--zui-yellow-200);
  }
  
  .color-palette.yellow .level-300 .color {
    background: var(--zui-yellow-300);
  }
  
  .color-palette.yellow .level-400 .color {
    background: var(--zui-yellow-400);
  }
  
  .color-palette.yellow .level-500 .color {
    background: var(--zui-yellow-500);
  }
  
  .color-palette.yellow .level-600 .color {
    background: var(--zui-yellow-600);
  }
  
  .color-palette.yellow .level-700 .color {
    background: var(--zui-yellow-700);
  }
  
  /* ZUI Gray */
  .color-palette.gray .level-25 .color {
    background: var(--zui-gray-25);
  }
  
  .color-palette.gray .level-50 .color {
    background: var(--zui-gray-50);
  }
  
  .color-palette.gray .level-100 .color {
    background: var(--zui-gray-100);
  }
  
  .color-palette.gray .level-200 .color {
    background: var(--zui-gray-200);
  }
  
  .color-palette.gray .level-300 .color {
    background: var(--zui-gray-300);
  }
  
  .color-palette.gray .level-400 .color {
    background: var(--zui-gray-400);
  }
  
  .color-palette.gray .level-500 .color {
    background: var(--zui-gray-500);
  }
  
  .color-palette.gray .level-600 .color {
    background: var(--zui-gray-600);
  }
  
  .color-palette.gray .level-700 .color {
    background: var(--zui-gray-700);
  }
  
  .color-palette.gray .level-800 .color {
    background: var(--zui-gray-800);
  }
  
  .color-palette.gray .level-900 .color {
    background: var(--zui-gray-900);
  }
  
  /* A11y swatches */
  .a11y-swatch {
    background: var(--zui-gray-100);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  }
  
  .a11y-swatch .color {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .a11y-swatch .color > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: rem(48);
    text-align: center;
  }
  
  .a11y-swatch .a {
    padding: rem(8);
  }
  
  .a11y-swatch .large {
    font-size: rem(24);
  }
  
  .a11y-swatch .small {
    font-size: rem(20);
  }
  
  .a11y-swatch .bold {
    font-weight: 600;
  }
  
  .a11y-swatch .white {
    color: white;
  }
  
  .a11y-swatch .rating {
    padding: rem(8);
    background: white;
    text-transform: uppercase;
    color: var(--zui-gray-800);
  }
  
  .a11y-swatch .details {
    padding: rem(16);
    background: var(--zui-gray-50);
    text-transform: uppercase;
  }
  
  .a11y-swatch .details .hex {
    font-weight: 600;
  }
  
  .color-palette.zywave .color {
    background: var(--zui-zywave);
  }
  
  .color-palette.blue-50 .color {
    background: var(--zui-blue-50);
  }
  
  .color-palette.blue-100 .color {
    background: var(--zui-blue-100);
  }
  
  .color-palette.blue-200 .color {
    background: var(--zui-blue-200);
  }
  
  .color-palette.blue-300 .color {
    background: var(--zui-blue-300);
  }
  
  .color-palette.blue-400 .color {
    background: var(--zui-blue-400);
  }
  
  .color-palette.blue-500 .color {
    background: var(--zui-blue-500);
  }
  
  .color-palette.blue-600 .color {
    background: var(--zui-blue-600);
  }
  
  .color-palette.blue-700 .color {
    background: var(--zui-blue-700);
  }
  
  .color-palette.green-100 .color {
    background: var(--zui-green-100);
  }
  
  .color-palette.green-200 .color {
    background: var(--zui-green-200);
  }
  
  .color-palette.green-300 .color {
    background: var(--zui-green-300);
  }
  
  .color-palette.green-400 .color {
    background: var(--zui-green-400);
  }
  
  .color-palette.green-500 .color {
    background: var(--zui-green-500);
  }
  
  .color-palette.green-600 .color {
    background: var(--zui-green-600);
  }
  
  .color-palette.green-700 .color {
    background: var(--zui-green-700);
  }
  
  .color-palette.aqua-100 .color {
    background: var(--zui-aqua-100);
  }
  
  .color-palette.aqua-200 .color {
    background: var(--zui-aqua-200);
  }
  
  .color-palette.aqua-300 .color {
    background: var(--zui-aqua-100);
  }
  
  .color-palette.aqua-100 .color {
    background: var(--zui-aqua-300);
  }
  
  .color-palette.aqua-400 .color {
    background: var(--zui-aqua-400);
  }
  
  .color-palette.aqua-500 .color {
    background: var(--zui-aqua-500);
  }
  
  .color-palette.aqua-600 .color {
    background: var(--zui-aqua-600);
  }
  
  .color-palette.aqua-700 .color {
    background: var(--zui-aqua-700);
  }
  
  .color-palette.purple-100 .color {
    background: var(--zui-purple-100);
  }
  
  .color-palette.purple-200 .color {
    background: var(--zui-purple-200);
  }
  
  .color-palette.purple-300 .color {
    background: var(--zui-purple-300);
  }
  
  .color-palette.purple-400 .color {
    background: var(--zui-purple-400);
  }
  
  .color-palette.purple-500 .color {
    background: var(--zui-purple-500);
  }
  
  .color-palette.purple-600 .color {
    background: var(--zui-purple-600);
  }
  
  .color-palette.purple-700 .color {
    background: var(--zui-purple-700);
  }
  
  .color-palette.rose-100 .color {
    background: var(--zui-rose-100);
  }
  
  .color-palette.rose-200 .color {
    background: var(--zui-rose-200);
  }
  
  .color-palette.rose-300 .color {
    background: var(--zui-rose-300);
  }
  
  .color-palette.rose-400 .color {
    background: var(--zui-rose-400);
  }
  
  .color-palette.rose-500 .color {
    background: var(--zui-rose-500);
  }
  
  .color-palette.rose-600 .color {
    background: var(--zui-rose-600);
  }
  
  .color-palette.rose-700 .color {
    background: var(--zui-rose-700);
  }
  
  .color-palette.red-100 .color {
    background: var(--zui-red-100);
  }
  
  .color-palette.red-200 .color {
    background: var(--zui-red-200);
  }
  
  .color-palette.red-300 .color {
    background: var(--zui-red-300);
  }
  
  .color-palette.red-400 .color {
    background: var(--zui-red-400);
  }
  
  .color-palette.red-500 .color {
    background: var(--zui-red-500);
  }
  
  .color-palette.red-600 .color {
    background: var(--zui-red-600);
  }
  
  .color-palette.red-700 .color {
    background: var(--zui-red-700);
  }
  
  .color-palette.orange-100 .color {
    background: var(--zui-orange-100);
  }
  
  .color-palette.orange-200 .color {
    background: var(--zui-orange-200);
  }
  
  .color-palette.orange-300 .color {
    background: var(--zui-orange-300);
  }
  
  .color-palette.orange-400 .color {
    background: var(--zui-orange-400);
  }
  
  .color-palette.orange-500 .color {
    background: var(--zui-orange-500);
  }
  
  .color-palette.orange-600 .color {
    background: var(--zui-orange-600);
  }
  
  .color-palette.orange-700 .color {
    background: var(--zui-orange-700);
  }
  
  .color-palette.yellow-100 .color {
    background: var(--zui-yellow-100);
  }
  
  .color-palette.yellow-200 .color {
    background: var(--zui-yellow-200);
  }
  
  .color-palette.yellow-300 .color {
    background: var(--zui-yellow-300);
  }
  
  .color-palette.yellow-400 .color {
    background: var(--zui-yellow-400);
  }
  
  .color-palette.yellow-500 .color {
    background: var(--zui-yellow-500);
  }
  
  .color-palette.yellow-600 .color {
    background: var(--zui-yellow-600);
  }
  
  .color-palette.yellow-700 .color {
    background: var(--zui-yellow-700);
  }
  
  /* Color meanings */
  .color-meanings-table {
    table-layout: auto;

    .color {
      width: 100px;
      height: 100px;

      &.red {
        background-color: var(--zui-red-500);
      }

      &.green {
        background-color: var(--zui-green);
      }

      &.yellow {
        background-color: var(--zui-yellow-500);
      }

      &.blue {
        background-color: var(--zui-blue-500);
      }

      &.gray {
        background-color: var(--zui-gray-200);
      }

      &.purple {
        background-color: var(--zui-purple-500);
      }
    }

    td:nth-child(2) {
      width: 10ch;
    }
  }