@use '../utils/_functions.scss' as *;

:root {
  --docs-tile-highlight-color: #4DD1C8;
  --docs-tile-highlight-color-darker: #1B6964;
  --docs-tile-highlight-color-translucent: #4DD1C8bf;
}
.app-framework {
  --docs-tile-highlight-color: #F36F12;
  --docs-tile-highlight-color-darker: #D56110;
  --docs-tile-highlight-color-translucent: #F36F12bf;
}

.home {
  --zui-background: var(--zui-gray-50);

  &-nav {
    background-color: var(--docs-primary-color);
    border-bottom: 1px solid var(--docs-secondary-color);

    &-content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      max-width: rem(1600);
      margin: 0 auto;
      padding: 0 rem(20);
      gap: rem(20);

      a {
        color: #fefefe;
        text-decoration: none;

        &:focus {
          outline-color: #fefefe;
        }
      }

      .logo {
        grid-column: 1;
        display: flex;
        width: auto;
        height: rem(36);
        margin: rem(10) 0 rem(5);

        @media screen and (min-width: 64em) {
          height: auto;
          margin: rem(20) 0 rem(10);
        }
      }

      nav {
        grid-column: 2 / 12;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            font-size: rem(14);
            font-weight: 600;
            padding: 0 rem(10);

            @media screen and (min-width: 45em) {
              padding: 0 rem(20);
            }

            @media screen and (min-width: 60em) {
              font-size: rem(16);
            }

            @media screen and (min-width: 64em) {
              font-size: rem(18);
              padding: 0 rem(30);
            }

            @media screen and (min-width: 80em) {
              padding: 0 rem(40);
            }
          }
        }
      }
    }
  }
}

.home-introduction {
  --docs-top-nav-height: #{rem(52)};
  @media (min-width: 77rem) { // 1232px
    --docs-top-nav-height: #{rem(58)};
  }
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  width: 100%;
  min-height: calc(100vh - var(--docs-top-nav-height));
  background: center bottom no-repeat #294348 url('../../images/home/space-background.svg');
  background-size: cover;

  &-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: max(6%, rem(30));
    width: 100%;
    max-width: 70%;
    margin: rem(100) auto;

    &-text {
      display: flex;
      flex-direction: column;
      line-height: 1.2;
      gap: rem(40);
      color: #fff;

      &-title {
        display: flex;
        flex-direction: column;
        font-size: rem(60);

        &-accent {
          font-weight: 700;
          color: #4dd1c8;
        }
      }

      &-subtitle {
        font-weight: 400;
      }
    }

    &-rocket-wrapper {
      display: grid;
      grid-template-columns: 100%;
      padding: 25%;
      
      @media (min-width: 110em) {
        padding: rem(180);
      }
      
      svg {
        max-width: rem(220);
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
        filter: drop-shadow(11px 5px 4px rgba(0, 0, 0, 0.4));
        transform-origin: top right;
        transition: filter 0.4s ease-out, transform 0.4s ease-out;
      }

      &:hover {
        svg {
          filter: blur(2px) contrast(500%);

          &:nth-child(1) {
            filter: blur(5px) contrast(3) brightness(1) hue-rotate(340deg);

            @media (min-width: 110em) {
              filter: blur(8px) contrast(3) brightness(1) hue-rotate(340deg);
            }
          }

          &:nth-child(2) {
            filter: blur(1.5px) contrast(110%) brightness(5) hue-rotate(444deg) grayscale(30%);

            @media (min-width: 110em) {
              filter: blur(2px) contrast(110%) brightness(5) hue-rotate(444deg) grayscale(30%);
            }

            #flare {
              filter: brightness(6) hue-rotate(60deg);
              transition: filter 1s ease-out;
            }
          }
        }
      }
    }
  }

  &-scroll-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 2.5rem;
    justify-self: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    animation: bounce infinite alternate 0.5s ease-in-out;

    @keyframes bounce {
      from {
        transform: translateY(7%);
      }
    }

    &-triangle {
      align-self: center;
      width: 0; 
      height: 0; 
      border-top: 10px solid #fff;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
  }
}

// category cards
.home-categories {
  background: #F6F6F6;
}

.home-categories-width {
  display: grid;
  grid-template-columns: 28% 1fr;
  gap: rem(100) rem(30);
  max-width: 70%;
  margin: rem(100) auto;
}

.home-categories-tile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: rem(30);
}

.home-category-text {
  h2 {
    font-size: rem(32);
    font-weight: 700;
    margin-bottom: rem(15);
  }

  p {
    font-size: rem(20);
    margin-bottom: rem(20);
    line-height: 1.35;
  }
}

.cta {
  color: #1B6964;
  color: var(--docs-tile-highlight-color-darker);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease-in; 

  &:hover {
    color: var(--docs-tile-highlight-color);

    svg {
      transform: translateX(3px);
    }
  }

  svg {
    width: rem(12);
    transition: transform 0.3s ease-in;
  }
}

.home-category-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  contain: paint;
  padding: rem(30);
  background: #fff;
  border-radius: rem(4);
  color: #31313A;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #31313A;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,0.25), 0 0 1px rgba(9,30,66,0.31);

    .cta {
      color: var(--docs-tile-highlight-color);

      svg {
        transform: translateX(3px);
      }
    }
  }

  &:focus {
    text-decoration: none;
  }

  &-border {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--docs-tile-highlight-color);
    width: 100%;
    height: rem(10);
    transition: transform 0.3s ease-in;
  }

  h3 {
    font-size: rem(26);
    margin-bottom: rem(15);
  }

  p {
    font-size: rem(16);
    margin-bottom: rem(30);
  }
}

// home-value illustration sections
.home-value {
  padding: rem(134) 0;
  background: #f6f6f6;

  &:nth-child(odd) {
    background: #fff;
  }
}

.home-value-width {
  display: flex;
  width: 68.75%;
  margin: 0 auto;
  gap: 15%;
  align-items: center;
}

.home-value-img {
  width: 35%;
}

.home-value-text {
  h3 {
    margin-bottom: rem(5);
    color: #F36F12;
    text-transform: uppercase;
    font-size: rem(20);
  }

  h2 {
    font-weight: 700;
    font-size: rem(44);
    line-height: 1.2;
  }

  p {
    font-size: rem(22);
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #2b3b43;

  .footer-launch {
    transform: scaleX(-1);
    width: 100%;
    padding: rem(50) 0 rem(20);
    background: center bottom no-repeat #294348 url('../../images/home/space-background.svg');
    background-size: cover;

    &-inside {
      display: flex;
      width: 68.75%;
      margin: 0 auto;
      gap: 15%;
      transform: scaleX(-1);
    }

    &-text {
      align-self: center;
      margin-bottom: rem(30);
      color: #fff;

      h3 {
        margin-bottom: rem(10);
        font-size: rem(44);
        font-weight: 700;
      }

      &-tagline {
        margin-bottom: rem(50);
        font-size: rem(23);
      }

      a.button {
        display: inline-flex;
        background: #fff;
        color: #1B6964;
        font-size: rem(14);
        padding: rem(7) rem(20);
        margin-top: rem(10);
      }
    }

    &-img-wrapper {
      align-self: center;
      width: 35%;
    }
  }

  .footer-sitemap {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: rem(50);
    padding: rem(50) 8.5%;
    background: #26333B;

    &-section {
      list-style: none;
      margin: 0;
      padding: 0;

      h3 {
        font-weight: 600;
        color: #4DD1C8;
        font-size: rem(18);
      }

      a {
        display: inline-flex;
        padding: rem(5) 0;
        font-size: rem(18);
        font-weight: 400;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .footer-legal {
    border-top: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    padding: rem(20) 8.5%;
    background: #2B3B43;

    &-title {
      h3 {
        color: #fff;
        font-size: rem(14);
        text-transform: uppercase;
        margin-bottom: rem(5);
      }
      div {
        font-size: rem(12);
        color: #9494A4;
      }
    }

    &-links {
      display: flex;
      gap: rem(50);
      margin-left: auto;
      align-items: center;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}