@use '../utils/_functions.scss' as *;

.home {
  --zui-background: var(--zui-gray-50);

  &-nav {
    background-color: var(--docs-primary-color);
    border-bottom: 1px solid var(--docs-secondary-color);

    &-content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      max-width: rem(1600);
      margin: 0 auto;
      padding: 0 rem(20);
      gap: rem(20);

      a {
        color: #fefefe;
        text-decoration: none;

        &:focus {
          outline-color: #fefefe;
        }
      }

      .logo {
        grid-column: 1;
        display: flex;
        width: auto;
        height: rem(36);
        margin: rem(10) 0 rem(5);

        @media screen and (min-width: 64em) {
          height: auto;
          margin: rem(20) 0 rem(10);
        }
      }

      nav {
        grid-column: 2 / 12;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            font-size: rem(14);
            font-weight: 600;
            padding: 0 rem(10);

            @media screen and (min-width: 45em) {
              padding: 0 rem(20);
            }

            @media screen and (min-width: 60em) {
              font-size: rem(16);
            }

            @media screen and (min-width: 64em) {
              font-size: rem(18);
              padding: 0 rem(30);
            }

            @media screen and (min-width: 80em) {
              padding: 0 rem(40);
            }
          }
        }
      }
    }
  }
}

.home-introduction {
  background: blue;
  width: 100vw;
  height: calc(100vh - rem(79));
}

.home-categories {
  background: #F6F6F6;
}

.home-categories-width {
  max-width: 70%;
  margin: rem(100) auto;
}

.home-value {
  padding: rem(134) 0;
  background: #f6f6f6;

  &:nth-child(odd) {
    background: #fff;
  }
}

.home-value-width {
  display: flex;
  // background: hotpink;
  width: 68.75%;
  margin: 0 auto;
  gap: 15%;
}

.home-value-img {
  width: 35%; 
}

.home-value-text {
  h3 {
    margin-bottom: rem(5);
    color: #F36F12;
    text-transform: uppercase;
    font-size: rem(20);
  }

  h2 {
    font-weight: 700; // bold
    font-size: rem(44);
    line-height: 1.2;
  }

  p {
    font-size: rem(22);
  }
}