body.documentation main .content-wrapper,
body.blog main .content-wrapper {
  width: 100%;

  @media screen and (min-width: 45em) {
    max-width: calc(#{rem(1060)} + 30ch); /* content: 1000px + lr padding: 40px + quick links: 30ch & left margin: 20px */
  }

  @media screen and (min-width: 60em) {
    max-width: calc(#{rem(1090)} + 30ch); /* content: 1000px + lr padding: 60px + quick links: 30ch & left margin: 30px */
  }

  @media screen and (min-width: 64em) {
    max-width: calc(#{rem(1130)} + 30ch); /* content: 1000px + lr padding: 100px + quick links: 30ch & left margin: 30px */
  }

  @media screen and (min-width: 80em) {
    max-width: calc(#{rem(1230)} + 30ch); /* content: 1000px + lr padding: 180px + quick links: 30ch & left margin: 50px */
  }
}

body.blog main .content-wrapper {
  margin-left: auto;
  margin-right: auto;
}

pre, code {
  white-space: pre-wrap;
}

@layer defaults {
  code {
    color: hsl(var(--docs-primary-color-h), var(--docs-primary-color-s), 29%);
    padding: rem(5);
    background-color: hsl(var(--docs-primary-color-h), var(--docs-primary-color-s), 89%);
    border-radius: rem(3);
  }
}

main {
  width: 100%;
  margin: 0 auto;

  &.content-with-side-nav {
    width: 100%;

    .content-wrapper {
      width: 100%;
    }
  }

  .content-wrapper {
    margin-top: rem(107);
    transition: width 100ms ease-in-out, padding 100ms ease-in-out, margin 100ms ease-in-out;

    @media (min-width: 58.4375rem) { // 935px
      margin-top: rem(61);
    }

    &:not(.home) {
      padding: rem(20);

      @media screen and (min-width: 60em) {
        padding: rem(30);
      }

      @media screen and (min-width: 64em) {
        padding: rem(30) rem(50);
      }

      @media screen and (min-width: 80em) {
        padding: rem(40) rem(90);
      }

      & ~ footer {
        margin-top: rem(150);
      }
    }
  }
}
