// fouc styles for zui-tabs
@import "https://cdn.zywave.com/@zywave/zui-tabs@latest/dist/css/zui-tabs.fouc.css";

zui-tabs {
  margin-bottom: rem(48);
  --zui-tabs-color: var(--docs-secondary-color);
  --zui-tabs-fouc-scroll-button-space: 0;

  a {
    &:active {
      text-decoration: none;
    }

    &:focus {
      outline: 0;
    }

    &:-webkit-any-link {
      color: unset;
    }
  }
}

zui-spinner:not([active]) {
  display: none;
}

h1.component-header {
  margin-bottom: unset;
}

h2.component-subheader {
  margin-bottom: rem(20);
}

#content {
  .is-hidden {
    display: none;
  }

  #demos,
  #usage .documentation {
    width: calc(100% - 200px); /* subtracts quick-links width */
  }

  #usage .documentation {
    max-width: rem(1000);
  }

  clipboard-copy-icon {
    --button-background-color: transparent;
    --message-text-color: var(--zui-gray-500);
    margin-left: rem(10);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  h1:hover clipboard-copy-icon,
  h2:hover clipboard-copy-icon,
  h3:hover clipboard-copy-icon,
  h4:hover clipboard-copy-icon {
    opacity: 1;
  }
}

.component-status {
  display: inline-block;
  border-radius: rem(4);
  padding: rem(2) rem(12);
  margin-bottom: rem(10);

  &.not-available {
    color: white;
    background-color: var(--zui-red);
  }

  &.stable {
    color: white;
    background-color: var(--docs-green-color);
  }

  &.deprecated {
    color: white;
    background-color: var(--zui-gray);
  }

  &.unstable {
    color: black;
    background-color: var(--zui-yellow);
  }
}

.install-instructions {
  [slot="content"] {
    margin-left: rem(10);

    & > div {
      padding-top: rem(10);
    }
  }
}
