<!doctype html>
<html {% if section %} aria-current="{{ section }}"{% endif %} lang="en">

<head>
	<base href="{{ "/"  | url }}"></base>
	<meta charset="utf-8">
	<link rel="icon" href="./favicon.ico" />
	<link rel="dns-prefetch" href="https://identity.netlify.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if description %}
	<meta name="description" content="{{ description }}">
	{% endif %}
	<title>{{ component.commonName or renderData.title or title }}</title>
	{# njk var set below, njk templating doesn't play well within 'script' tags #}
	{% set moduleFolder = "/js/" | url %}
	{# import maps must be registered prior to any script loading #}

	<script type="importmap">
		{
			"imports": {
				"lit": "https://cdn.zywave.com/lit@2.1.1/index.js?module",
				"lit/": "https://cdn.zywave.com/lit@2.1.1/",
				"@lit/": "https://cdn.zywave.com/@lit/",
				"lit-html/": "https://cdn.zywave.com/lit-html@2.1.1/",
				"tslib": "https://cdn.zywave.com/tslib@2.3.0/tslib.es6.js",
				"@booster/": "{{ moduleFolder }}"
			}
		}
	</script>
	<script type="esms-options">
		{
			"polyfillEnable": ["css-modules", "json-modules"]
		}
	</script>
	<script async src="https://cdn.zywave.com/construct-style-sheets-polyfill@latest/dist/adoptedStyleSheets.js"></script>

	<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{% if statusOverride == "unstable" %}
	<script async src="https://cdn.zywave.com/@zywave/zui-bundle@latest/dist/bundle.js" type="module"></script>
	{% else %}
	<script async src="https://cdn.zywave.com/@zywave/zui-bundle@latest/dist/bundle.js" type="module"></script>
	{% endif %}
	<script src="https://cdn.zywave.com/@zywave/zywave-api-toolkit-bundle@latest/dist/bundle.js" type="module"></script>
	<script type="module" src="{{ "js/web-components/docs-do.js" | url }}"></script>
	<script type="module" src="{{ "js/web-components/docs-do-not.js" | url }}"></script>
	<script type="module" src="{{ "js/web-components/docs-spacer.js" | url }}"></script>
	<script type="module" src="{{ "js/web-components/docs-grid.js" | url }}"></script>
	<script type="module" src="{{ "js/web-components/docs-note.js" | url }}"></script>
	<link rel="stylesheet" href="https://cdn.zywave.com/@zywave/zui-base-styles@latest/dist/zui-base-styles.min.css">
	<link rel="stylesheet" href="https://cdn.zywave.com/@zywave/zui-app-styles@latest/dist/zui-app-styles.min.css">
	<link rel="stylesheet" href="css/global-styles.css">
	{% set js %}
		{% include "static/js/inline.js" %}
	{% endset %}
	<link rel="stylesheet" href="https://cdn.zywave.com/@algolia/algoliasearch-netlify-frontend@1.0.8/dist/algoliasearchNetlify.css" />
	{% if env.HEAP_ID %}
	<script type="text/javascript">   
		window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};   
		heap.load("{{ env.HEAP_ID }}");
		heap.clearEventProperties();
		heap.addEventProperties({
			screenWidth: window.screen.width,
			screenHeight: window.screen.height,
			screenResolution: window.screen.width + "x" + window.screen.height,
		});
	</script>
	{% endif %}
</head>

{% if layout === 'documentation' or 'blog' %}
<body class="zui row {{ pageType }} {{ layout }}">
{% else %}
<body class="zui row {{ pageType }}">
{% endif %}
	<script async src="https://cdn.zywave.com/es-module-shims@1.0.0/dist/es-module-shims.js"></script>
	{{ content | safe }}
	{% include "components/feedback.njk" %}
	<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		});
	}
	</script>
	<script type="text/javascript" src="https://cdn.zywave.com/@algolia/algoliasearch-netlify-frontend@1.0.8/dist/algoliasearchNetlify.js"></script>
	<script type="module" noshim>
		let initialized;
		function init() {
			if (initialized) {
				return;
			}
			let selector;
			if (document.querySelector('#search-home')) {
				selector = '#search-home';
			} else if (document.querySelector('#search-top-nav')) {
				selector = '#search-top-nav';
			}
			if (!selector) return;
			algoliasearchNetlify({
				appId: '{{ env.ALGOLIA_APP_ID }}',
				apiKey: '{{ env.ALGOLIA_SEARCH_API_KEY }}',
				siteId: '{{ env.SITE_ID }}',
				branch: 'main',
				selector,
				placeholder: 'Let\'s find something...'
			});
			initialized = true;
		}
		document.readyState === 'complete'                ? init()
			: document.addEventListener('readystatechange', () => {
				if (document.readyState === 'complete') {
					init();
				}
			});
	</script>
</body>
</html>