---
layout: no-nav-base
---

{% if not hideToc %}
<script type="module" src="{{ "js/web-components/quick-links.js" | url }}"></script>
{% endif %}
<script type="module" src="{{ "js/web-components/clipboard-copy-icon.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/docs-do.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/docs-do-not.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/docs-spacer.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/docs-grid.js" | url }}"></script>


<article class="zui content-area slim">
  <zui-breadcrumbs>
    <zui-breadcrumb>
      <a href="{{ '/blog/' | url }}">Blog</a>
    </zui-breadcrumb>
  </zui-breadcrumbs>
  <h1 class="component-header">{{ title }}</h1>
  <p>
    <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
  </p>
  <div class="blog-content-wrapper">
    <div id="content">
    {{ content | safe }}
    </div>
    <quick-links class="quick-links-with-tabs-above" context="#content" headings="h2, h3, h4"></quick-links>
  </div>
</article>
