---
layout: no-side-nav-base
---

<link rel="stylesheet" href="/css/pages/blog.css">
{% if not hideToc %}
<script type="module" src="{{ "js/web-components/quick-links.js" | url }}"></script>
{% endif %}
<script type="module" src="https://cdn.zywave.com/@zywave/zui-bundle@latest/dist/components/table.js"></script>
<script type="module" src="{{ "js/web-components/clipboard-copy-icon.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/docs-do.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/docs-do-not.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/docs-spacer.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/docs-grid.js" | url }}"></script>


<article>
  <header class="blog-header">
    <zui-breadcrumbs>
      <zui-breadcrumb>
        <a href="{{ '/blog/' | url }}">Blog</a>
      </zui-breadcrumb>
    </zui-breadcrumbs>
    <h1 class="blog-title">{{ title }}</h1>
    <p class="blog-description">{{ description }}</p>
    <div class="date-tags">
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
      <div class="tags">
        {%- for tag in tags -%}
          <zui-tag color="gray" class="tag">{{ tag }}</zui-tag color="gray">
        {%- endfor -%}
      </div>
    </div>
  </header>
  <div class="blog-content-wrapper">
    <div id="content">
    {{ content | safe }}
    </div>
    <quick-links class="quick-links-with-tabs-above" context="#content" headings="h2, h3, h4"></quick-links>
  </div>
</article>
