---
layout: base
---

{% set tabs = ['API', 'Demos', 'Usage'] %}

<link rel="preload" as="fetch" type="application/json" href="{{ api }}">
<script type="module" src="{{ "js/component-tabbing.js" | url }}"></script>
<script type="module" src="https://cdn.zywave.com/@zywave/customelement-manifest-element@latest/index.js"></script>
<script type="module" src="{{ "js/web-components/docs-demos.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/quick-links.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/tabs.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/clipboard-copy-icon.js" | url }}"></script>

<h1 class="component-header">{{ title }}</h1>

<h2 class="component-subheader">{{ subtitle }}</h2>

<nav class="zui row">
  <zui-tabs selected="-1">
    {% for tab in tabs %}
      <zui-tab id="tab-{{ tab | slug }}">
        <a href="{{ page.url | componentTabHref(tab) | url }}" class="zui text-decoration-none">{{ tab }}</a>
      </zui-tab>
    {% endfor %}
  </zui-tabs>
</nav>
<section id="content" class="zui column align-start">
  <div id="api" class="is-hidden">
    <customelement-manifest-element
      src="{{ api }}"
      initialElementName="{{ mainComponentName }}"
      elementNames="['Poop']"
      {% if includedElements | length %} elementNames='{{ includedElements | htmlArray }}' {% endif %}>
    </customelement-manifest-element>
  </div>
  <div id="demos" class="zui row align-start is-hidden">
    <docs-demos demo-url="{{ demo }}" component="{{ mainComponentName }}"></docs-demos>
    <quick-links query="section h1, section h2, section h3, section h4"></quick-links>
  </div>
  <div id="usage" class="zui row align-start is-hidden">
    <div>{{ content | safe }}</div>
    <quick-links query="section h1, section h2, section h3, section h4"></quick-links>
  </div>
</section>
