---
layout: nav-base
---

{% if not hideToc %}
<script type="module" src="{{ "js/web-components/quick-links.js" | url }}"></script>
{% endif %}
<script type="module" src="{{ "js/web-components/tabs.js" | url }}"></script>
<script type="module" src="{{ "js/web-components/clipboard-copy-icon.js" | url }}"></script>

<h1 class="component-header">{{ title }}</h1>

<h2 class="component-subheader">{{ subtitle }}</h2>

<section class="zui row align-start">
  <div class="content">
    {{ content | safe }}
  </div>
  {% if not hideToc %}
  <quick-links query="section h1, section h2, section h3, section h4"></quick-links>
  {% endif %}
</section>
