{% set hasChildPages = collections.all | eleventyNavigation(eleventyNavigation.key) | length > 0 %}
{% set parentObj = collections.all | eleventyNavigation(eleventyNavigation.parent) %}

{% set navCategory = eleventyNavigation.parent %}

<nav class="side-nav zui skinny-scrollbar">
  <header>
    <a href="{{ '/' | url }}"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 20.5 48" style="enable-background:new 0 0 20.5 48;" xml:space="preserve">
<polygon style="fill:var(--docs-orange-color);" points="9.6,0 0,0 10.8,24 0,48 9.6,48 20.5,24 "/>
</svg>Booster</a>
  </header>
  <section>

    {% if page.url.split('/')[3] %}
      {% if backNavKey %}
        {% set grandparentObj = collections.all | eleventyNavigation(backNavKey) %}
      {% endif %}
      {% if grandparentObj %}
        <a class="nav-back-button" href="{{ grandparentObj[0].url | url }}">
          <svg class="svg" id="svg" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
          </svg>
          {{ grandparentObj[0].parentKey }}
        </a>
      {% endif %}
    {% endif %}

    <hr>
    <h3>
      {% if navCategory %}
        {% if navCategory.includes('-') %}
          {% set navCategory = navCategory.split('-')[1] %}
        {% endif %}
      {% endif %}
      {{ navCategory }}
    </h3>
    <ul>
      {% if page.url.includes('/components/') %}
        {% if page.url.includes('/design-system/') %}
          {% set path = componentRegistry.basePathDesignSystem %}
          {% set components = componentRegistry.components.designSystem %}
        {% elif page.url.includes('/application-framework/') %}
          {% set path = componentRegistry.basePathApplicationFramework %}
          {% set components = componentRegistry.components.applicationFramework %}
        {% endif %}
        {% set parentObj = collections.all | eleventyNavigation(eleventyNavigation.parent)  %}
        <li>
          <a href="{{ parentObj[0].url | url }}" {% if parentObj[0].url in page.url %} data-current="current item"{% endif %}>{{ parentObj[0].title }}</a>
        </li>
        {%- for component in components %}
        {% set componentUrl %}/{{path}}/components/{{ component.commonName | slug }}/{% endset %}
        <li>
          <a href="{{ componentUrl | url}}"{% if componentUrl in page.url %} data-current="current item"{% endif %}>{{ component.commonName }}</a>
        </li>
        {%- endfor %}
      {% else %}
        {%- for childItem in collections.all | eleventyNavigation(navCategory) %}
          {% if childItem.children %}
            <li>
              <a href="{{ childItem.children[0].url | url if childItem.children | length > 0 else childItem.url | url }}"{% if childItem.url in page.url %} data-current="current item"{% endif %}>{{ childItem.title }}</a>
            </li>
          {% endif %}
        {%- endfor %}
      {% endif %}
    </ul>
  </section>
</nav>
