@use '../functions' as *;

.do, .do-not {
  display: flex;
  width: 100%;
  padding: rem(10) 0;
  font-size: rem(14);
  text-transform: uppercase;
  font-weight: bold;
  border-top-width: rem(12);
  border-top-style: solid;
  
}
.do {
  color: var(--zui-green-400);
  border-top-color: var(--zui-green-400);
}
.do-not {
  color: var(--zui-red-400);
  border-top-color: var(--zui-red-400);
}
