.do, .do-not {
  display: flex;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 12px solid var(--zui-green-400);
  
}
.do {
  color: var(--zui-green-400);
}
.do-not {
  color: var(--zui-red-400);
}
