@use '../functions' as *;

.spacer {
  display: block;
  width: 100%;
  height: rem(30);
  transition: height 100ms ease-in-out;

  @media (min-width: 60em) { /* 960 / 16 */
    height: rem(60); 
  }

  @media (min-width: 64em) { /* 1024 / 16 */
    height: rem(90);
  }

  &.small {
    height: rem(15);

    @media (min-width: 60em) { /* 960 / 16 */
      height: rem(20);
    }

    @media (min-width: 64em) { /* 1024 / 16 */
      height: rem(45);
    }
  }
}
