footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #2b3b43;

  .footer-launch {
    transform: scaleX(-1);
    width: 100%;
    padding: rem(50) 0 rem(20);
    background: center bottom no-repeat #294348 url('../../images/home/space-background.svg');
    background-size: cover;

    &-inside {
      display: flex;
      width: 68.75%;
      margin: 0 auto;
      gap: 15%;
      transform: scaleX(-1);
    }

    &-text {
      align-self: center;
      margin-bottom: rem(30);
      color: #fff;

      h3 {
        margin-bottom: rem(10);
        font-size: rem(44);
        font-weight: 700;
      }

      &-tagline {
        margin-bottom: rem(50);
        font-size: rem(23);
      }

      button.button {
        display: inline-flex;
        background: #fff;
        color: var(--zui-aqua-600);
        font-size: rem(14);
        padding: rem(7) rem(20);
        margin-top: rem(10);

        &:hover {
          opacity: 1;
          background: var(--zui-aqua-600);
          color: #fff;
        }
      }
    }

    &-img-wrapper {
      align-self: center;
      width: 35%;
    }
  }

  .footer-sitemap {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: rem(50);
    padding: rem(50) 8.5%;
    background: #26333B;

    &-section {
      list-style: none;
      margin: 0;
      padding: 0;

      h3 {
        font-weight: 600;
        color: #4DD1C8;
        font-size: rem(18);
      }

      a {
        display: inline-flex;
        padding: rem(5) 0;
        font-size: rem(18);
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        opacity: .8;
        transition: opacity .3s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .footer-legal {
    border-top: 1px solid #5c4f4f;
    display: flex;
    justify-content: space-between;
    padding: rem(20) 8.5%;
    background: #2B3B43;

    &-title {
      h3 {
        color: #fff;
        font-size: rem(14);
        text-transform: uppercase;
        margin-bottom: rem(5);
      }
      div {
        font-size: rem(12);
        color: #9494A4;
      }
    }

    &-links {
      display: flex;
      gap: rem(50);
      margin-left: auto;
      align-items: center;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}