quick-links {
    max-height: calc(100vh - 15rem);
    overflow-y: auto;

    &.quick-links-with-tabs-above {
        max-height: calc(100vh - 24rem);
    }

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: #f4f4f6;
        background-color: var(--zui-gray-50);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #9494a4;
        background-color: var(--zui-gray-400);
        border-radius: 10px;
    }
}