.top-nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    min-height: rem(61);
    padding: rem(10) 0;
    background-color: #25323a;
    border-bottom: 1px solid var(--docs-secondary-color);

    &-content {
      --docs-top-nav-spacer: #{rem(10)};
      display: flex;
      flex-wrap: wrap;
      max-width: rem(1600);
      margin: 0 auto;
      padding: 0 var(--docs-top-nav-spacer);
      gap: var(--docs-top-nav-spacer);

      @media (min-width: 93.75rem) { // 1500px
        --docs-top-nav-spacer: #{rem(20)};
      }

      a {
        color: #fefefe;
        text-decoration: none;

        &:focus {
          outline-color: #fefefe;
        }
      }

      .logo {
        grid-column: 1;
        display: flex;
        width: auto;
        height: rem(36);

        &:focus {
          outline: 0;
        }

        img {
          transform-origin: center center;
          transition: transform 0.2s ease-out;
          max-width: unset;
          height: rem(20);
          align-self: center;
        }

        &:hover {
          img {
            transform: scale(0.97);
          }
        }
      }

      nav {
        grid-column: 2 / 12;
        display: flex;
        align-items: center;
        margin-left: auto;

        ul {
          display: flex;
          align-items: center;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            padding: 0 rem(10);
            font-size: rem(14);
            font-weight: 600;
            font-weight: 400;
            line-height: 1.2;
            padding: 0 var(--docs-top-nav-spacer);

            &:hover {
              a {
                opacity: 1;
              }
            }

            @media (min-width: 76.9375) { // 1231px
              font-size: rem(16);
            }

            @media (min-width: 93.75rem) { // 1500px
              font-size: rem(18);
            }

            a {
              opacity: 0.8;
              transition: opacity 0.3s ease;
            }
          }
        }
      }

      .search-login-container {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          margin-left: auto;

          // algolia search autocomplete has a min width, cut off without these fixes
          @media (min-width: 42.5em) { // 680px
            min-width: rem(360);
          }
      }

      .login {
        grid-column: 12;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(12);
        margin-left: auto;

        @media screen and (min-width: 64em) {
          font-size: rem(16);
        }
      }
    }

    // algolia search overrides
    #search-top-nav {
      flex: 1;
      justify-self: center;

      form.aa-Form {
        margin-left: auto;
      }

        // default / closed state
        .aa-Autocomplete {
            form {
                border: 0;
                width: rem(40);
                height: rem(40);
                border-radius: rem(20);

                width: auto;
                min-width: rem(270);

                button[type="submit"] {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: rem(40);
                    height: rem(40);
                    padding-top: rem(4);
                    cursor: pointer;
                    border-radius: 50%;
                }

                // x / delete button icon
                .aa-InputWrapperSuffix {
                    padding: rem(9);
                }
            }
        }
    }
  }